<form method="post" action="/messages">
  <label for="message">Message:</label>
  <textarea type="text" col="40" row="5" id="message" name="message"></textarea><br>
  <button>Submit</button>
</form>

<% messages.each do |message| %>

  <li><%= message["message"] %></li>
    <form method="get" action="messages/<%=message["id"]%>/edit">
      <input type="submit" value="Edit"/>
    </form>
    <form method="post" action="/messages/delete/<%= message["id"]%>">
      <input type="hidden" name="_method" value="delete"/>
      <input type="submit" value="Delete"/>
    </form>
    <form method="post" action="/comments/<%= message["id"]%>">
      <input type="text" name="comment" id="comment"/>
      <button>Comment</button>
    </form>

  <% comments.each do |comment| %>
    <% if comment["message_id"] == message["id"] %>
      <%= comment["comment"] %>
     <% end %>
   <% end %>
<% end %>




